span.photo-credit {
  font-size: .8em;
  display: block;
  text-align: center;
}

span.caption {
  font-size: .8em;
  font-style: italic;
  display: block;
}

.tg {
  width: fit-content;
  margin: auto;
}

.tg-c3ow {
  text-align: center;
}
